# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/target/apidocs/allclasses-frame.html
/target/apidocs/allclasses-noframe.html
/target/apidocs/me/zhyd/hunter/config/platform/BasePlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/BasePlatform.html
/target/apidocs/me/zhyd/hunter/scheduler/BlockingQueueScheduler.html
/target/apidocs/me/zhyd/hunter/scheduler/class-use/BlockingQueueScheduler.html
/target/blog-hunter-1.0.1.jar.asc
/target/blog-hunter-1.0.1.pom
/target/blog-hunter-1.0.1.pom.asc
/target/blog-hunter-1.0.1-javadoc.jar.asc
/target/blog-hunter-1.0.1-sources.jar.asc
/target/apidocs/me/zhyd/hunter/processor/class-use/BlogHunterProcessor.html
/target/apidocs/me/zhyd/hunter/processor/BlogHunterProcessor.html
/target/apidocs/me/zhyd/hunter/config/platform/CnblogsPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/CnblogsPlatform.html
/target/apidocs/me/zhyd/hunter/util/class-use/CommonUtil.html
/target/apidocs/me/zhyd/hunter/util/CommonUtil.html
/.idea/compiler.xml
/target/apidocs/constant-values.html
/target/apidocs/me/zhyd/hunter/entity/class-use/Cookie.html
/target/apidocs/me/zhyd/hunter/entity/Cookie.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/apidocs/me/zhyd/hunter/config/platform/CsdnPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/CsdnPlatform.html
/target/apidocs/me/zhyd/hunter/util/class-use/DateUtil.html
/target/apidocs/me/zhyd/hunter/util/DateUtil.html
/target/apidocs/deprecated-list.html
/.idea/encodings.xml
/target/apidocs/me/zhyd/hunter/enums/ExitWayEnum.html
/target/apidocs/me/zhyd/hunter/enums/class-use/ExitWayEnum.html
/target/apidocs/help-doc.html
/target/apidocs/me/zhyd/hunter/resolver/HtmlResolver.html
/target/apidocs/me/zhyd/hunter/resolver/class-use/HtmlResolver.html
/target/apidocs/me/zhyd/hunter/downloader/class-use/HttpClientDownloader.html
/target/apidocs/me/zhyd/hunter/downloader/HttpClientDownloader.html
/target/apidocs/me/zhyd/hunter/downloader/HttpClientGenerator.html
/target/apidocs/me/zhyd/hunter/downloader/class-use/HttpClientGenerator.html
/target/apidocs/me/zhyd/hunter/Hunter.html
/target/apidocs/me/zhyd/hunter/class-use/Hunter.html
/target/apidocs/me/zhyd/hunter/config/HunterConfig.html
/target/apidocs/me/zhyd/hunter/config/class-use/HunterConfig.html
/target/classes/HunterConfig.json
/target/apidocs/me/zhyd/hunter/config/HunterConfigContext.html
/target/apidocs/me/zhyd/hunter/config/class-use/HunterConfigContext.html
/target/apidocs/me/zhyd/hunter/config/HunterConfigTemplate.html
/target/apidocs/me/zhyd/hunter/config/class-use/HunterConfigTemplate.html
/target/apidocs/me/zhyd/hunter/consts/class-use/HunterConsts.html
/target/apidocs/me/zhyd/hunter/consts/HunterConsts.html
/target/apidocs/me/zhyd/hunter/config/HunterDateDeserializer.html
/target/apidocs/me/zhyd/hunter/config/class-use/HunterDateDeserializer.html
/target/apidocs/me/zhyd/hunter/exception/class-use/HunterException.html
/target/apidocs/me/zhyd/hunter/exception/HunterException.html
/target/apidocs/me/zhyd/hunter/util/HunterPrintWriter.html
/target/apidocs/me/zhyd/hunter/util/class-use/HunterPrintWriter.html
/target/apidocs/me/zhyd/hunter/processor/HunterProcessor.html
/target/apidocs/me/zhyd/hunter/processor/class-use/HunterProcessor.html
/target/apidocs/me/zhyd/hunter/entity/class-use/ImageLink.html
/target/apidocs/me/zhyd/hunter/entity/ImageLink.html
/target/apidocs/me/zhyd/hunter/config/platform/ImoocPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/ImoocPlatform.html
/target/apidocs/index.html
/target/apidocs/index-all.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/InnerPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/InnerPlatform.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/apidocs/me/zhyd/hunter/config/platform/class-use/IteyePlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/IteyePlatform.html
/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
/target/apidocs/me/zhyd/hunter/resolver/JsonResolver.html
/target/apidocs/me/zhyd/hunter/resolver/class-use/JsonResolver.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/JuejinPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/JuejinPlatform.html
/target/classes/log4j.properties
/target/test-classes/log4j.properties
/.idea/misc.xml
/target/apidocs/overview-frame.html
/target/apidocs/overview-summary.html
/target/apidocs/overview-tree.html
/target/apidocs/me/zhyd/hunter/resolver/package-frame.html
/target/apidocs/me/zhyd/hunter/util/package-frame.html
/target/apidocs/me/zhyd/hunter/scheduler/package-frame.html
/target/apidocs/me/zhyd/hunter/config/package-frame.html
/target/apidocs/me/zhyd/hunter/config/platform/package-frame.html
/target/apidocs/me/zhyd/hunter/consts/package-frame.html
/target/apidocs/me/zhyd/hunter/entity/package-frame.html
/target/apidocs/me/zhyd/hunter/downloader/package-frame.html
/target/apidocs/me/zhyd/hunter/exception/package-frame.html
/target/apidocs/me/zhyd/hunter/enums/package-frame.html
/target/apidocs/me/zhyd/hunter/processor/package-frame.html
/target/apidocs/me/zhyd/hunter/package-frame.html
/target/apidocs/package-list
/target/javadoc-bundle-options/package-list
/target/apidocs/me/zhyd/hunter/resolver/package-summary.html
/target/apidocs/me/zhyd/hunter/scheduler/package-summary.html
/target/apidocs/me/zhyd/hunter/util/package-summary.html
/target/apidocs/me/zhyd/hunter/config/package-summary.html
/target/apidocs/me/zhyd/hunter/consts/package-summary.html
/target/apidocs/me/zhyd/hunter/config/platform/package-summary.html
/target/apidocs/me/zhyd/hunter/entity/package-summary.html
/target/apidocs/me/zhyd/hunter/downloader/package-summary.html
/target/apidocs/me/zhyd/hunter/enums/package-summary.html
/target/apidocs/me/zhyd/hunter/processor/package-summary.html
/target/apidocs/me/zhyd/hunter/exception/package-summary.html
/target/apidocs/me/zhyd/hunter/package-summary.html
/target/apidocs/me/zhyd/hunter/resolver/package-tree.html
/target/apidocs/me/zhyd/hunter/scheduler/package-tree.html
/target/apidocs/me/zhyd/hunter/util/package-tree.html
/target/apidocs/me/zhyd/hunter/config/package-tree.html
/target/apidocs/me/zhyd/hunter/consts/package-tree.html
/target/apidocs/me/zhyd/hunter/config/platform/package-tree.html
/target/apidocs/me/zhyd/hunter/entity/package-tree.html
/target/apidocs/me/zhyd/hunter/downloader/package-tree.html
/target/apidocs/me/zhyd/hunter/enums/package-tree.html
/target/apidocs/me/zhyd/hunter/processor/package-tree.html
/target/apidocs/me/zhyd/hunter/exception/package-tree.html
/target/apidocs/me/zhyd/hunter/package-tree.html
/target/apidocs/me/zhyd/hunter/resolver/package-use.html
/target/apidocs/me/zhyd/hunter/processor/package-use.html
/target/apidocs/me/zhyd/hunter/scheduler/package-use.html
/target/apidocs/me/zhyd/hunter/util/package-use.html
/target/apidocs/me/zhyd/hunter/config/package-use.html
/target/apidocs/me/zhyd/hunter/consts/package-use.html
/target/apidocs/me/zhyd/hunter/config/platform/package-use.html
/target/apidocs/me/zhyd/hunter/downloader/package-use.html
/target/apidocs/me/zhyd/hunter/enums/package-use.html
/target/apidocs/me/zhyd/hunter/entity/package-use.html
/target/apidocs/me/zhyd/hunter/exception/package-use.html
/target/apidocs/me/zhyd/hunter/package-use.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/Platform.html
/target/apidocs/me/zhyd/hunter/config/platform/Platform.html
/target/apidocs/me/zhyd/hunter/util/PlatformUtil.html
/target/apidocs/me/zhyd/hunter/util/class-use/PlatformUtil.html
/target/maven-archiver/pom.properties
/.idea/inspectionProfiles/Project_Default.xml
/target/apidocs/me/zhyd/hunter/resolver/class-use/Resolver.html
/target/apidocs/me/zhyd/hunter/resolver/Resolver.html
/target/apidocs/script.js
/target/apidocs/serialized-form.html
/target/apidocs/stylesheet.css
/.idea/uiDesigner.xml
/target/apidocs/me/zhyd/hunter/enums/UserAgentEnum.html
/target/apidocs/me/zhyd/hunter/enums/class-use/UserAgentEnum.html
/target/apidocs/me/zhyd/hunter/config/platform/class-use/V2exPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/V2exPlatform.html
/.idea/vcs.xml
/target/apidocs/me/zhyd/hunter/entity/VirtualArticle.html
/target/apidocs/me/zhyd/hunter/entity/class-use/VirtualArticle.html
/.idea/dictionaries/yadon.xml
/.idea/.gitignore
/target/blog-hunter-1.0.3.jar.asc
/target/blog-hunter-1.0.3.jar.asc.asc
/target/blog-hunter-1.0.3.pom
/target/blog-hunter-1.0.3.pom.asc
/target/blog-hunter-1.0.3.pom.asc.asc
/target/blog-hunter-1.0.3-javadoc.jar.asc
/target/blog-hunter-1.0.3-javadoc.jar.asc.asc
/target/blog-hunter-1.0.3-sources.jar.asc
/target/blog-hunter-1.0.3-sources.jar.asc.asc
/target/apidocs/me/zhyd/hunter/config/platform/class-use/OschinaPlatform.html
/target/apidocs/me/zhyd/hunter/config/platform/OschinaPlatform.html
